/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    background: linear-gradient(to bottom, #7091e6, #ede8f5);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Layout styles */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

footer {
    text-align: right;
    padding: 10px 20px;
}

/* Task input styles */
#task-input {
    width: 500px;
    display: flex;
    gap: 10px;
    height: 50px;
    margin-bottom: 10px;
    position: sticky;
    top: 10px;
}

#new-task {
    flex: 1;
    padding: 10px;
}

#add-task-btn {
    width: 20%;
}

/* Task list styles */
#task-list {
    width: 500px;
    border: 1px solid #333;
    min-height: 50px;
    background-color: #f0f0f0;
}

/* List item styles */
li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#tasks li:nth-child(odd) {
    background-color: #f0f0f0;
}

#tasks li:nth-child(even) {
    background-color: #ffffff;
}

/* Completed task styles */
span.completed {
    text-decoration: line-through;
    opacity: 0.3;
}

/* Button styles */
button.edit-btn {
    border: none;
    cursor: pointer;
}

button.edit-btn:hover {
    background-color: #e0e0e0;
    border: 1px solid #333;
}

button.edit-btn:active {
    background-color: #d0d0d0;
}